sync:
  fromHost:
    ingressClasses:
      enabled: true
    storageClasses:
      enabled: true
  toHost:
    ingresses:
      enabled: true
    services:
      enabled: true

controlPlane:
  statefulSet:
    persistence:
      volumeClaim:
        enabled: true
        size: 10Gi
        storageClass: gp3
