repositories:
  - name: loft
    url: https://charts.loft.sh
  
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  
  # - name: grafana
  #   url: https://grafana.github.io/helm-charts

releases:
  - name: vcluster
    namespace: vcluster-system
    chart: loft/vcluster
    version: "0.29.0"
    createNamespace: true
    timeout: 1800
    values:
      - ../config/vcluster-config.yaml

  - name: prometheus
    namespace: monitoring
    chart: prometheus-community/prometheus
    version: "27.39.0"
    createNamespace: true
    values:
      - ../config/prometheus-values.yaml

  # - name: grafana
  #   namespace: monitoring
  #   chart: grafana/grafana
  #   version: "10.0.0"
  #   createNamespace: true
  #   values:
  #     - ../config/grafana-values.yaml